<!DOCTYPE html>

<html>
<head>
    <title>Sign up for Infinia Press</title>
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
  	<script src="http://materializecss.com/bin/materialize.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
    <script src="https://cdn.rawgit.com/peachananr/onepage-scroll/master/jquery.onepage-scroll.min.js"></script>  
	<link rel="stylesheet" href="https://cdn.rawgit.com/peachananr/onepage-scroll/master/onepage-scroll.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    
    <style>
        html{
            text-align: center;
            padding-left: 60px;
            padding-right: 60px;
        }
    </style>
</head>

<body>
    <h1><b>500</b></h1>
    <h1>DOHHH!!! The server screwed up! :'(</h1>
    

</body>
</html>
