<!DOCTYPE html>
<html>
<head>
    <title>Setup < InfiniaPress</title>
</head>

<body>

<p>Welcome to InfiniaPress!</p>
<p>Before we begin the install, please tell us more about your database.</p>

<!--

Type of DB: (Dropdown) MySQL, PostgreSQL, MSSQL, Oracle Database, SQLite (Not recommended for production environments)
Database host:
Database port:
Database name:
Database username:
Database password:

Save button (Returns either True (Connection worked) or False (Connection failed)
-->


</body>
</html>