<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body>
<h1>Install applications</h1>
<p>InfiniaPress is not very useful without applications. If you already have any applications set up and running, please
open up yourapplicationpage.com/application/admin/link-infiniahome and be prepared to enter the public and private
keys that will be generated.</p>


<!--
Application Name:
Application Type (Dropdown: Passenger Pigeon/Hansom/Cicada):
Application installation url:
Generate!

Returns [Public key]
Returns [Private key]

{ Now: Go to [Application Name] and enter the public and private keys generated, and click save. }

[Save]
Detecting link... (Link not detected/Successfully saves and moves on to setup_4)
-->

<!--
 User can click to add more applications (Use javascript to generate these)
-->

</body>
</html>