<!DOCTYPE html>
<html>

<head>
    <title>Setup < InfiniaPress</title>
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="http://materializecss.com/bin/materialize.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
    <style>
        html{
            margin-left: 10px;
            margin-right: 10px;
            text-align: center;
        }
    </style>
</head>

<body>
<h1>Install applications</h1>
<p>InfiniaPress is not very useful without applications. If you already have any applications set up and running, please
open up yourapplicationpage.com/application/admin/link-infiniahome and be prepared to enter the public and private
keys that will be generated.</p>

<div class="input-field col s12">
    <input id="name" type="text" class="validate">
    <label for="name">Application Name:</label>
</div>

<div class="input-field col s12">
    <input id="url" type="text" class="validate">
    <label for="url">Application URL:</label>
</div>

<a class='dropdown-button btn' href='#' data-activates='dropdown1' id="appType">Application type</a>

<ul id='dropdown1' class='dropdown-content'>
  <li><a id="pp">Passenger Pigeon</a></li>
  <li><a id="hansom">Hansom</a></li>
  <li><a id="cicada">Cicada</a></li>
</ul>

<br><br>

<button id="submit" class="waves-effect waves-light btn">Save!</button>

<script>
    var appType;
    $("#pp").on("click",function(){
        appType = "Passenger Pigeon";
        $("#appType").text(appType);
    });
    $("#hansom").on("click",function(){
        appType = "Hansom";
        $("#appType").text(appType);
    });
    $("#cicada").on("click",function(){
        appType = "Cicada";
        $("#appType").text(appType);
    });
    $("#submit").click(function(){
        if(!appType){
            alert("Select an application type!");
        }else{
            $.ajax({
                type: "POST",
                url: '{{ webroot }}/setup/setup-3',
                data: {name:$("#name").val(),url:$("#url").val(),type:appType},
                success: function(result){
                    var keys = JSON.parse(result);
                    alert("Public key: " + result.public_key + " Private key: " + result.private_key);
                    window.location('{{ webroot }}/setup/setup_4.html.twig');
                },
                error: function(err){
                    alert("An error occured: " + err.responseText);
                },
                dataType: "application/json"
            });
        }
    });
</script>
 

<!--
Application Name:
Application Type (Dropdown: Passenger Pigeon/Hansom/Cicada):
Application installation url:
Generate!

Returns [Public key]
Returns [Private key]

{ Now: Go to [Application Name] and enter the public and private keys generated, and click save. }

[Save]
Detecting link... (Link not detected/Successfully saves and moves on to setup_4)
-->

<!--
 User can click to add more applications (Use javascript to generate these)
-->

</body>
</html>